*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #193549;
    color: white;
    font-family: helvetica;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
:root{
    --base: #4A5DE8;
    --spacing: 10px;
    --blur: 7px;
}
input{
    width: 100px;
}
img{
    position: relative;
    top: 20px;
    width: 75%;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

h1 span{
    color: var(--base);
}

